# PyCity Schools Analysis

- Your analysis here
  
---

In [37]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [38]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [39]:
# Calculate the total number of students
student_count = student_data["student_name"].count()
student_count

39170

In [40]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [41]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [42]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [85]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [86]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [45]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [46]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({ "Total Schools": [school_count],
                                 "Total Students": [student_count],
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score],
                                 "Average Reading Score:": [average_reading_score],
                                 "Math Passing Rate": [passing_math_percentage],
                                 "Reading Passing Rate": [passing_reading_percentage],
                                 "Overall Passing Rate": [overall_passing_rate]
                                })

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score:,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [ ]:
# Group data by schools using the ".groupby" function
data_by_school = school_data_complete.groupby(["school_name"])

In [66]:
# Use the code provided to select all of the school types
# used link below to figure out how to pull the first value of each school for the "type" column
# https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.first.html
school_types = data_by_school["type"].first()

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [67]:
# Calculate the total student count per school
per_school_counts = data_by_school["student_name"].count()

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [71]:
# Calculate the total school budget and per capita spending per school
# The .first() method I used above would also work to return the per school budget
per_school_budget = data_by_school["budget"].mean()
per_school_capita = per_school_budget / per_school_counts

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [72]:
# Calculate the average test scores per school
per_school_math = data_by_school["math_score"].mean()
per_school_reading = data_by_school["reading_score"].mean()

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [91]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].count()
school_students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["school_name"])["math_score"].count()

Student ID       29370
student_name     29370
gender           29370
grade            29370
school_name      29370
reading_score    29370
math_score       29370
School ID        29370
type             29370
size             29370
budget           29370
dtype: int64

In [92]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].count()
school_students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(["school_name"])["reading_score"].count()

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [94]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [97]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [104]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type": school_types,
                                  "Total Students": per_school_counts,
                                  "Total School Budget": per_school_budget,
                                  "Per Student Budget": per_school_capita,
                                  "Average Math Score": per_school_math,
                                  "Students Passing Math": school_students_passing_math,
                                  "Students Passing Math (%)": per_school_passing_math,
                                  "Average Reading Score": per_school_reading,                                
                                  "Students Passing Reading": school_students_passing_reading,
                                  "Students Passing Reading (%)": per_school_passing_reading,
                                  "Students Passing Overall": school_students_passing_math_and_reading,
                                  "Overall Passing Rate (%)": overall_passing_rate
                                  })

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Students Passing Math,Students Passing Math (%),Average Reading Score,Students Passing Reading,Students Passing Reading (%),Students Passing Overall,Overall Passing Rate (%)
school_name,,,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,3318,66.680064,81.033963,4077,81.933280,2719,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,1749,94.133477,83.975780,1803,97.039828,1697,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,1946,65.988471,81.158020,2381,80.739234,1569,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,1871,68.309602,80.746258,2172,79.299014,1487,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,1371,93.392371,83.816757,1426,97.138965,1330,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,3094,66.752967,80.934412,3748,80.862999,2481,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,395,92.505855,83.814988,411,96.252927,381,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,1916,65.683922,81.182722,2372,81.316421,1561,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,3145,66.057551,80.966394,3867,81.222432,2549,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,910,94.594595,84.044699,923,95.945946,871,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,2654,66.366592,80.744686,3208,80.220055,2119,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,1653,93.867121,83.725724,1688,95.854628,1583,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,1525,93.272171,83.848930,1591,97.308869,1487,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,2143,93.867718,83.989488,2204,96.539641,2068,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,1680,93.333333,83.955000,1739,96.611111,1626,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [106]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["Overall Passing Rate (%)"], ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Students Passing Math,Students Passing Math (%),Average Reading Score,Students Passing Reading,Students Passing Reading (%),Students Passing Overall,Overall Passing Rate (%)
school_name,,,,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,1749,94.133477,83.975780,1803,97.039828,1697,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,1525,93.272171,83.848930,1591,97.308869,1487,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,1371,93.392371,83.816757,1426,97.138965,1330,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,2143,93.867718,83.989488,2204,96.539641,2068,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,910,94.594595,84.044699,923,95.945946,871,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [107]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(["Overall Passing Rate (%)"], ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Students Passing Math,Students Passing Math (%),Average Reading Score,Students Passing Reading,Students Passing Reading (%),Students Passing Overall,Overall Passing Rate (%)
school_name,,,,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,2654,66.366592,80.744686,3208,80.220055,2119,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,1946,65.988471,81.158020,2381,80.739234,1569,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,1916,65.683922,81.182722,2372,81.316421,1561,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,3094,66.752967,80.934412,3748,80.862999,2481,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,3145,66.057551,80.966394,3867,81.222432,2549,53.539172

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = 
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = 
tenth_grader_reading_scores = 
eleventh_grader_reading_scores = 
twelfth_grader_reading_scores = 

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = 

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary